{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

<h2 class="text-danger mb-4">Password Required</h2>

<p>You need a password to access this page.</p>

<form action="{{ action_url }}" method="POST">
  {% csrf_token %}

  {{ form.non_field_errors }}
  <div>
    <span class="text-danger">{{ form.password.errors }}</span>
    <strong>{{ form.password.label_tag }}</strong>
    {{ form.password }}
  </div>

  {% for field in form.hidden_fields %}
    {{ field }}
  {% endfor %}
  <input class="btn btn-primary btn-sm mt-3" type="submit" value="Submit" />
</form>

{% endblock %}
