{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}body-operations-index{% endblock %}
{% block main_class %}main-operations-index{% endblock %}
{% block content_class %}content content-operations-index{% endblock %}

{% block content %}

<h1 class="my-4">{{ page.title }}</h1>

<div>{{ page.body }}</div>

{% for post in page.get_children %}
  {% with post=post.specific %}
    <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
    {{ post.body }}
  {% endwith %}
{% endfor %}

{% endblock %}
