{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}body-human-resources-index{% endblock %}
{% block main_class %}main-human-resources-index{% endblock %}
{% block content_class %}content-human-resources-index content{% endblock %}

{% block content %}

{% if tag %}
  <h3>Viewing all posts sorted by the tag {{ tag }}</h3>
{% else %}
  <h1 class="title">{{ page.title }}</h1>
{% endif %}

{% if page.publish_date %}
  <p class="publish-date">{{ page.publish_date }}</p>
{% endif %}

{% if page.get_child_tags %}
  <h4 class="mt-5">Tags</h4>
  <a href="/human-resources/">All</a>
  {% for tag in page.get_child_tags %}
    <a href="{{ tag.url }}">{{ tag }}</a>
  {% endfor %}
{% endif %}

{% if page.body %}
  <div class="body">{{ page.body }}</div>
{% endif %}

{% if posts %}
  <h4 class="mt-5">Posts</h4>
  {% for post in posts %}
    <a class="d-block" href="{% pageurl post %}">{{ post.title }}</a>
  {% endfor %}
{% endif %}

{% if tag %}
  <p class="my-3"><a href="/human-resources/">Back</a></p>
{% endif %}

{% endblock %}
