{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block body_class %}body-{{ model_name }}{% endblock %}
{% block main_class %}main-{{ model_name }}{% endblock %}
{% block content_class %}content-{{ model_name }} index{% endblock %}

{% block content %}

<div class="two-columns">
  <div class="column left-25">
    {% include 'subpages/left_sidebar.html' with title=page.title slug=page.slug %}
  </div>
  <div class="column right-75">
    <h2 class="page-title">
      {{ page.title }}
      {% include 'subpages/_restriction_type.html' with item=page %}
    </h2>

    {% include 'subpages/publish_date.html' %}

    {% if page.body %}
      <div class="page-content mt-5">{{ page.body }}</div>
    {% endif %}
  </div>
</div>

{% endblock %}
