{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block title %}Directory{% endblock %}

{% block body_class %}body-blogindex{% endblock %}
{% block main_class %}main-blogindex{% endblock %}
{% block content_class %}content-blogindex page{% endblock %}

{% block content %}

{% load template_utils %}

<div>
  <h2 class="page-title">Directory</h2>
  <div class="page-content mt-5">

    <table id="directory-table" class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center">Last Name</th>
          <th class="text-center">First Name</th>
          <th class="text-center">Title</th>
          <th class="text-center">Email</th>
          <th class="text-center">Office</th>
          <th class="text-center">Phone</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.worker.personNames.0.familyName }}</td>
            <td>{{ user.worker.personNames.0.givenName }}</td>
            <td></td>
            <td>
              {% for email in user.worker.communicationChannel.emails %}
                <a href="mailto:{{ email.emailAddress }}">{{ email.emailAddress }}</a> <br />
              {% endfor %}
            </td>
            <td>{{ user.worker.addresses.0.line_1 }}, {{ user.worker.addresses.0.postalCode }}</td>
            <td class="text-start">{{ user.worker.communicationChannel.telephoneNumbers.0.telephoneNumber|convert_phone_format }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}


{% block extra_js %}

<script type="text/javascript">
  new DataTable('#directory-table', {
    'pageLength': 25
  });
</script>

{% endblock %}
