{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block body_class %}body-{{ page.slug }}{% endblock %}
{% block main_class %}main-{{ page.slug }}{% endblock %}
{% block content_class %}content-{{ page.slug }} page{% endblock %}

{% block content %}

<div class="two-columns">
  <div class="column left-25">
    {% include 'subpages/left_sidebar.html' with title=page.get_parent.title slug=page.get_parent.slug %}
  </div>
  <div class="column right-75">
    <h2>{{ page.title }} - Confirmation</h2>
    <p>{{ page.thank_you_text|richtext }}</p>

    <a href="/">Back to Landing Page</a>
    <a href="/lfs-intranet/tech-resources/contact-the-learning-centre-for-support/">Back to Contact Form</a>
  </div>
</div>

{% endblock %}
