{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block body_class %}body-{{ page.slug }}{% endblock %}
{% block main_class %}main-{{ page.slug }}{% endblock %}
{% block content_class %}content-{{ page.slug }} index{% endblock %}

{% block content %}

<div class="two-columns">
  <div class="column left-25">
    {% include 'subpages/left_sidebar.html' with title=page.title slug=page.slug %}
  </div>
  <div class="column right-75">
    <h2 class="page-title">
      {{ page.title }}
      {% include 'subpages/_restriction_types.html' with item=page %}
    </h2>

    {% include 'subpages/publish_date.html' %}

    <p>{{ page.intro|richtext }}</p>

    {% include 'blog/_form_form.html' %}
  </div>
</div>

{% endblock %}
