{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block body_class %}body-{{ model_name }}{% endblock %}
{% block main_class %}main-{{ model_name }}{% endblock %}
{% block content_class %}content-{{ model_name }} index{% endblock %}

{% block content %}

<div class="two-columns">
  <div class="column left-25">
    {% include 'subpages/left_sidebar.html' with title=page.title slug=page.slug %}
  </div>
  <div class="column right-75">
    <h2>{{ page.title }} - Confirmation</h2>
    <p>{{ page.thank_you_text|richtext }}</p>

    <a href="/">Back to Landing Page</a>
  </div>
</div>

{% endblock %}
