{% load static %}
{% load wagtailcore_tags %}

<div class="two-columns">
  <div class="column right-75">
    {% if tag %}
      <h3 class="mb-5">Viewing all posts sorted by the tag <span class="fw-bold text-danger">{{ tag }}</span></h3>
    {% else %}
      <h1 class="page-title">{{ page.title }}</h1>
    {% endif %}

    {% if page.body %}
      <div class="body">{{ page.body }}</div>
    {% endif %}

    <ul>
      {% for post in posts %}
        <li class="mb-2">
          <h5><a href="{% pageurl post %}">{{ post.title }}</a></h5>
          {% if post.get_tags %}
            <small>Tags:
              {% for tag in post.get_tags %}
                <a class="item-tag" href="{{ tag.url }}">{{ tag }}</a>{% if not forloop.last %},{% endif %}
              {% endfor %}
            </small>
          {% endif %}
        </li>
      {% empty %}
        No posts found
      {% endfor %}
    </ul>
  </div>
  <div class="column left-25">
    <div class="sidebar">
      {% if tag %}
        <p class="my-3"><a href="{{ url }}">Back to {{ model }}</a></p>
      {% else %}
        {% if page.publish_date %}
          <p class="publish-date">{{ page.publish_date }}</p>
        {% endif %}

        <div class="page-tags">
          <h5 class="mt-4 mb-3">All Tags</h5>
          {% if page.get_child_tags %}
            {% for tag in page.get_child_tags %}
              <a class="tag" href="{{ tag.url }}">{{ tag }}</a>
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
