{% load wagtailcore_tags %}

<section class="left-sidebar">
  <a class="btn btn-success mb-5" href="{{ site_name_slug }}{{ slug }}/">
    <span class="material-symbols-outlined">home</span>
    {{ title }} Home
  </a>

  {% if sidebar_menu %}
    <h4>Menu</h4>

    <ul class="sidebar-menu ps-0" style="list-style-type: none;">
      {% for page in sidebar_menu %}
        <li class="menu-page">
          <a href="{% pageurl page %}">{{ page.title }}</a>
          {% include 'subpages/_display_types.html' with types=page.types %}
          {% include 'subpages/_restriction_info.html' with item=page %}
        </li>

        {% if page.children|length > 0 %}
          <ul class="menu-post">
            {% for post in page.children %}
              <li class="mt-2">
                <a class="me-1" href="{% pageurl post %}">{{ post.title }}</a>
                {% include 'subpages/_display_types.html' with types=post.types %}
                {% include 'subpages/_restriction_info.html' with item=post %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</section>
