{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}

{% block title %}Welcome{% endblock %}

{% block body_class %}body-homepage{% endblock %}
{% block main_class %}main-homepage{% endblock %}
{% block content_class %}content-homepage{% endblock %}

{% block content %}

<div class="two-columns">
  <div class="column left-75">
    <div>{{ page.body }}</div>
  </div>
  <div class="column right-25">
    <div class="bg-prompt">
      <div class="prompt text-center py-4 p-2 mb-4">
        {% if request.user.is_authenticated %}
          <div>
            You are logged in as
            <strong>{{ request.user.get_full_name }}</strong> <br />
            ({{ request.user.username }})
          </div>
          <div class="mt-2">{% include 'subpages/_display_roles.html' %}</div>
        {% else %}
          <h4 class="text-primary">User login</h4>
          <small>To log in, click on the CWL button below.<br /> You will be redirected to a secure CWL login.</small>
          <a class="d-block mt-3" href="/app/">
            <img src="{% static 'images/cwl_login_button.gif' %}" alt="cwl login button"/>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}
