{% extends "wagtailadmin/login.html" %}
{% load static %}


{% block branding_login %}
<img class="login-logo-img" src="{% static 'images/UBC LFS Icons_Bird.png' %}" alt="UBC LFS Icons_Globe" style="width:50px; height:auto;" /><br />
Sign into LFS Intranet
{% endblock %}


{% block branding_logo %}

<div class="" style="border:2px solid red; border-radius:4px; padding:10px; margin-top:30px;">
  If you do not have permission to access the admin site, please contact administrator, <a href="mailto:web@landfood.ubc.ca">web@landfood.ubc.ca</a>.
</div>

{% endblock %}
