h1,h2,h3,h4,h5,h6,p,ul {
  margin: 0;
  padding: 0;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Whitney SSm A', 'Whitney SSm B', Arial;
}

/* header */

header { width: 100%; }
header .navbar .navbar-toggler { border: 1px solid #fff; }
header .navbar .navbar-brand { margin-right: 150px; }
header .navbar .nav-item .nav-link {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}
header .navbar .nav-item .nav-link:hover { text-decoration: underline; }
header .navbar .navbar-nav {
  width: 100%;
  align-items: center;
}
header .navbar .navbar-nav form { width: 40%; }
header .navbar .navbar-nav .log-in-out { margin-left: auto; }

@media (max-width: 575.98px) {
  header .navbar .navbar-brand { margin-right: 0; }
  header .navbar .navbar-nav form {
    width: 100%;
    margin: 10px 0;
  }
  header .navbar .navbar-nav .log-in-out { margin-left: inherit; }
}

@media (max-width: 767.98px) {
  header .navbar .navbar-brand { margin-right: 0; }
  header .navbar .navbar-nav form {
    width: 100%;
    margin: 10px 0;
  }
  header .navbar .navbar-nav .log-in-out { margin-left: inherit; }
}

@media (max-width: 991.98px) {
  header .navbar .navbar-brand { margin-right: 0; }
  header .navbar .navbar-nav form {
    width: 100%;
    margin: 10px 0;
  }
  header .navbar .navbar-nav .log-in-out { margin-left: inherit; }
}

@media (max-width: 1199.98px) {
  header .navbar .navbar-brand { margin-right: 70px; }
}


.sub-nav {
  width: 100%;
  background-color: #ddd;
  margin-bottom: 30px;
  padding: 10px 0;
}

.sub-nav a {
  color: #212529;
  text-decoration: none;
  display: inline-block;
}

.sub-nav a:not(:last-child) { margin-right: 30px; }

.sub-nav a:hover { text-decoration: underline; }

.sub-nav .item { float: right; }
.sub-nav .item > a {
  color: #212529;
  text-decoration: none;
}
.sub-nav .item > a:hover { text-decoration: underline; }


/* footer */

footer {
  flex-shrink: 0;
  height: auto;
  color: #fff;
  text-align: center;
  margin-top: 80px;
}

footer > .container {
  height: 100px;
  display: table;
}

footer .footer-item {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 575.98px) {
  footer > .container {
    height: 200px;
    display: flex;
    flex-direction: column;
  }
  footer .footer-item { padding: 30px 0; }
}


/* main */

main { flex: 1 0 auto; }


/*main > .content { padding: 0 50px 60px 50px; }*/
main > nav > .dropdown { margin-right: 20px }
main > nav > .dropdown > button { font-size: 1rem; }
/*main .content h1 { margin: 40px 0; }*/

main .index div[class^='block-'],
main .page div[class^='block-'] { margin: 40px 0; }

main .index .page-title,
main .page .page-title {
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
}
main .index .page-title { background-color: #198754; }
main .page .page-title { background-color: #40B4E5; }


main .index ul,
main .page ul { margin-left: 40px; }

main .index ul li a,
main .page ul li a { text-decoration: none; }

main .index ul li a:hover,
main .page ul li a:hover { text-decoration: underline;; }

/* Two columns */
/* Clear floats after the columns */
main .index .two-columns:after,
main .page .two-columns:after {
  content: "";
  display: table;
  clear: both;
}
main .index .column,
main .page .column {
  float: left;
  padding: 20px;
}
main .index .right-75,
main .page .right-75 { width: 75%; }

main .index .left-25,
main .page  .left-25 { width: 25%; }

main .sidebar {
  background-color: #f5f3e9;
  min-height: 400px;
  padding: 30px;
}

@media (max-width: 1199.98px) {
  main .index .two-columns,
  main .page .two-columns {
    display: flex;
    flex-direction: column;
  }
  main .index .right-75,
  main .page .right-75 { width: 100%; }

  main .index .left-25,
  main .page  .left-25 { width: 100%; }
  main .sidebar {
    min-height: auto !important;
  }
}

main .page-tags .tag {
  text-decoration: none;
  border: 1px solid #c55302;
  border-radius: 30px;
  padding: 3px 7px;
  margin-right: 2px;
  margin-bottom: 7px;
  background-color: #c55302;
  color: #fff;
  display: inline-block;
}

main .page-tags .tag:hover {
  opacity: 0.85;
}

/* form */

main .custom-form {
  display: flex;
  width: 350px;
}

/* Color */
.custom-bg-primary { background-color: #002145; }


/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}
